
@{
    Layout = "~/Views/Home/_LayoutPrincipal.cshtml";
}

<script src="~/Content/js/Compras.js"></script>

<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Compras</h1>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Mis Transacciones</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="tblCompras" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th style="text-align:center">#</th>
                        <th style="text-align:center">Cantidad</th>
                        <th style="text-align:center">Importe</th>
                        <th style="text-align:center">Tienda</th>
                        <th style="text-align:center">Método de Pago</th>
                        <th style="text-align:center">Fecha y Hora</th>
                        <th style="text-align:center">Estado</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>