@{ 
    Layout = "~/Views/Home/_LayoutPrincipal.cshtml";
}

<style>
    .border-left-gray {
        border-left: .25rem solid #d1d3e2 !important;
    }

    .collapse-content .fa.fa-heart:hover {
        color: #f44336 !important;
    }
    .collapse-content .fa.fa-share-alt:hover {
        color: #0d47a1 !important;
    }
</style>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Content/js/Principal.js"></script>

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Mi Dieta Semanal</h1>
</div>

<!-- Content Row -->
<div id="dvDias" class="row">

    <!-- Earnings (Monthly) Card Example -->
    <div id="dvDia_0" class="col-xl-1-5 col-md-6 mb-4">
        <div role="button" class="card border-left-gray shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">Lunes</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">24/08</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-check-circle fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div id="dvDia_1" class="col-xl-1-5 col-md-6 mb-4">
        <div role="button" class="card border-left-gray shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">Martes</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">25/08</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-check-circle fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div id="dvDia_2" class="col-xl-1-5 col-md-6 mb-4">
        <div role="button" class="card border-left-gray shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">Miércoles</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">26/08</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-check-circle fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div id="dvDia_3" class="col-xl-1-5 col-md-6 mb-4">
        <div role="button" class="card border-left-gray shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">Jueves</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">27/08</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-check-circle fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div id="dvDia_4" class="col-xl-1-5 col-md-6 mb-4">
        <div role="button" class="card border-left-gray shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">Viernes</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">28/08</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-check-circle fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div id="dvDia_5" class="col-xl-1-5 col-md-6 mb-4">
        <div role="button" class="card border-left-gray shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">Sábado</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">29/08</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-check-circle fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div id="dvDia_6" class="col-xl-1-5 col-md-6 mb-4">
        <div role="button" class="card border-left-gray shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">Domingo</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">30/08</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-check-circle fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Content Row -->
<div class="row">

    <!-- Area Chart -->
    <div class="col">
        <div id="dvSelectedDay" class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary"></h6>
                <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                        <div class="dropdown-header">Dropdown Header:</div>
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
            </div>
            <!-- Card Body -->
            <div class="card-body row">
                <div class="col-xl-4 col-md-6 mb-4">
                    <div class="card booking-card">

                        <!-- Card image -->
                        <div class="view overlay">
                            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/8-col/img (5).jpg" alt="Card image cap">
                            <a href="#!">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                        <!-- Card content -->
                        <div class="card-body">

                            <!-- Title -->
                            <h4 class="card-title font-weight-bold"><a>Omelette</a></h4>
                            <!-- Data -->
                            
                            <p class="mb-2">Desayuno</p>
                            <!-- Text -->
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <hr class="my-4">
                            
                            <ul id="desayuno" class="list-unstyled list-inline rating mb-0 float-right">
                                <li class="list-inline-item mr-0"><i id="desayunoStar1" role="button" class="fas fa-star amber-text"> </i></li>
                                <li class="list-inline-item mr-0"><i id="desayunoStar2" role="button" class="fas fa-star amber-text"></i></li>
                                <li class="list-inline-item mr-0"><i id="desayunoStar3" role="button" class="fas fa-star amber-text"></i></li>
                                <li class="list-inline-item mr-0"><i id="desayunoStar4" role="button" class="fas fa-star amber-text"></i></li>
                                <li class="list-inline-item mr-0"><i id="desayunoStar5" role="button" class="fas fa-star amber-text"></i></li>
                                <li class="list-inline-item"><p class="text-muted">4.5 (413)</p></li>
                            </ul>
                            <!-- Button -->
                            <a href="#" class="btn btn-flat deep-purple-text p-1 mx-0 mb-0">Button</a>

                        </div>

                    </div>
                </div>
                <div class="col-xl-4 col-md-6 mb-4">
                    <div class="card booking-card">

                        <!-- Card image -->
                        <div class="view overlay">
                            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/8-col/img (5).jpg" alt="Card image cap">
                            <a href="#!">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                        <!-- Card content -->
                        <div class="card-body">

                            <!-- Title -->
                            <h4 class="card-title font-weight-bold"><a>Omelette</a></h4>
                            <!-- Data -->

                            <p class="mb-2">Desayuno</p>
                            <!-- Text -->
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <hr class="my-4">

                            <ul id="almuerzo" class="list-unstyled list-inline rating mb-0 float-right">
                                <li class="list-inline-item mr-0"><i id="almuerzoStar1" role="button" class="fas fa-star amber-text"> </i></li>
                                <li class="list-inline-item mr-0"><i id="almuerzoStar2" role="button" class="fas fa-star amber-text"></i></li>
                                <li class="list-inline-item mr-0"><i id="almuerzoStar3" role="button" class="fas fa-star amber-text"></i></li>
                                <li class="list-inline-item mr-0"><i id="almuerzoStar4" role="button" class="fas fa-star amber-text"></i></li>
                                <li class="list-inline-item mr-0"><i id="almuerzoStar5" role="button" class="fas fa-star amber-text"></i></li>
                                <li class="list-inline-item"><p class="text-muted">4.5 (413)</p></li>
                            </ul>
                            <!-- Button -->
                            <a href="#" class="btn btn-flat deep-purple-text p-1 mx-0 mb-0">Button</a>

                        </div>

                    </div>
                </div>
                <div class="col-xl-4 col-md-6 mb-4">
                    <div class="card booking-card">

                        <!-- Card image -->
                        <div class="view overlay">
                            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/8-col/img (5).jpg" alt="Card image cap">
                            <a href="#!">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                        <!-- Card content -->
                        <div class="card-body">

                            <!-- Title -->
                            <h4 class="card-title font-weight-bold"><a>Omelette</a></h4>
                            <!-- Data -->

                            <p class="mb-2">Desayuno</p>
                            <!-- Text -->
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <hr class="my-4">

                            <ul id="cena" class="list-unstyled list-inline rating mb-0 float-right">
                                <li class="list-inline-item mr-0"><i id="cenaStar1" role="button" class="fas fa-star amber-text"> </i></li>
                                <li class="list-inline-item mr-0"><i id="cenaStar2" role="button" class="fas fa-star amber-text"></i></li>
                                <li class="list-inline-item mr-0"><i id="cenaStar3" role="button" class="fas fa-star amber-text"></i></li>
                                <li class="list-inline-item mr-0"><i id="cenaStar4" role="button" class="fas fa-star amber-text"></i></li>
                                <li class="list-inline-item mr-0"><i id="cenaStar5" role="button" class="fas fa-star amber-text"></i></li>
                                <li class="list-inline-item"><p class="text-muted">4.5 (413)</p></li>
                            </ul>
                            <!-- Button -->
                            <a href="#" class="btn btn-flat deep-purple-text p-1 mx-0 mb-0">Button</a>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>